<html>
<head>
<title></title>
<style type="text/css">
  p { font-size: 11px;
      font-family: 'Verdana';}
  h1 { font-size: 12px;
      font-family: 'Verdana';
      margin: 16 0 0 0;
      padding: 0}
</style>
</head>
<body>
<h1>Das Auswahl-Fenster</h1>
<p>Nach dem Start der Anwendung kann im Auswahlpanel das gewünschte Sondierverfahren aus einer Dropdown-Liste gewählt sowie die Arraygröße festgelegt werden. Die Größe des Array kann von 5 bis 19 per Texteingabe oder durch die Benutzung der "+" oder "-"-Buttons gewählt werden.</p>
<p>Als Besonderheit sei noch erwähnt, dass bei der Wahl des Verallgemeinerten Linearen Sondierens eine weitere Dropdown-Liste zur Bestimmung der Konstante "c" aktiviert wird. Die Auswahlmöglichkeit für "c" variiert automatisch mit der Veränderung der Arraygröße.</p>
<p>Beim Drücken des "Start"-Buttons wird ein leeres Array mit dem gewählten Verfahren und der Größe im Interaktionspanel erstellt. Es besteht auch die Möglichkeit, über den "Log laden"-Button ein abgespeichertes Log aus einer Datei zu laden.<br>
Auch hier wird, wie beim Drücken vom "Start"-Button, ein leeres Array erstellt. Jedoch beginnt die Anwendung automatisch mit dem Durchführen der Aktionen, die im geladenen Log abgespeichert sind. Erst danach ist eine manuelle Bearbeitung möglich.</p>
<br><h1>Das Array-Fenster</h1>
<p>Mit dem erstellten Array lässt sich mithilfe der drei Aktionsbuttons "einfügen", "suchen" und "löschen" interagieren. Dazu muss der Wert (Zahlen von 1-99) in die Eingabemaske eingetragen und danach ein Aktions-Button betätigt werden. An dieser Stelle ist es noch wichtig zu erwähnen, dass jeder Wert nur ein einziges Mal im Array vorkommen kann. Daher wird beim Versuch, einen schon vorhandenen Wert einzufügen, nur die Werteingabe gelöscht und ein Log-Eintrag mit dem Hinweis, dass der Wert schon existiert, erstellt.</p>
<p>Nach Eingabe eines Wertes und Drücken eines Aktionsbuttons wird durch eine Animation der Wert an die entsprechende Stelle im Array bewegt und je nach gewählter Aktion eingefügt, gesucht oder gelöscht. Auch beim Auftreten einer Kollision läuft die Animation bis zum Erfolg oder dem automatischen Abbruch weiter. Wenn das Durchführen der Aktion nicht erfolgreich war, wird dies über eine entsprechende Färbung des Arrayfeldes deutlich gemacht und im Log vermerkt. Eine Steuerung der Animation ist über die "Zurück"-, "Start/Stop"- oder "Weiter"-Buttons möglich. Die Animationsgeschwindigkeit lässt sich über einen Slider anpassen.</p>
<p><strong>Wichtig:</strong> Während eine Aktion läuft wird auf drücken der Aktionsbuttons "einfügen", "suchen" und "löschen" nicht reagiert.</p>
<br><h1>Das Log-Fenster</h1>
<p>Alle durchgeführten Aktionen werden im Log-Fenster ebenso wie jede auftretende Kollision protokolliert. Des Weiteren ist für eine spätere Wiederholung der getätigten Aktionen die Möglichkeit gegeben, den Log-Inhalt durch Drücken des Buttons "Log speichern" in eine Datei zu speichern.</p>
</body>
</html>
