<html>
<head>
	<title></title>
</head>
<body>
<h2><span style="font-size: 16px;">Das &#39;Auswahl&#39;-Feld</span></h2>

<p><span style="font-size: 14px;">&nbsp;</span></p>

<p><span style="font-size: 14px;">In der Combo-Box <strong>&#39;Sondierverfahren w&auml;hlen&#39;</strong> k&ouml;nnen Sie eins der vorgeschlagenen Verfahren</span></p>

<p><span style="font-size: 14px;">ausw&auml;hlen, dass in einer Animation gestartet werden kann.</span></p>

<p><span style="font-size: 14px;">Zur Auswahl stehen:</span></p>

<p><span style="font-size: 14px;">&nbsp;&nbsp;&nbsp; - das Lineare Sondieren,</span></p>

<p><span style="font-size: 14px;">&nbsp;&nbsp;&nbsp; - das Verallgemeinertes Lineare Sondieren,</span></p>

<p><span style="font-size: 14px;">&nbsp;&nbsp;&nbsp; - das Quadratische Sondieren,&nbsp;</span></p>

<p><span style="font-size: 14px;">&nbsp;&nbsp;&nbsp; - ein alternierendes Quadratisches Sondieren und</span></p>

<p><span style="font-size: 14px;">&nbsp;&nbsp;&nbsp; - das Doppel-Hashing.</span></p>

<p><span style="font-size: 14px;">&nbsp;</span></p>

<p><span style="font-size: 14px;">Alle Verfahren unterscheiden sich, vor allem in der Kollessionsbehandlung und dementsprechend auch</span></p>

<p><span style="font-size: 14px;">in der Animation deutlich.</span></p>

<p><span style="font-size: 14px;">&nbsp;</span></p>

<p><span style="font-size: 14px;">Die <strong>&#39;Arraygr&ouml;&szlig;e&#39;</strong> bzw. <strong>&#39;Arrayl&auml;nge&#39; </strong>k&ouml;nnen Sie mit dem Spinner bestimmen. Sie k&ouml;nnen entweder</span></p>

<p><span style="font-size: 14px;">mit dem &#39;Minus&#39; oder &#39;Plus&#39; Button die L&auml;nge immer um ein Feld verringern oder erh&ouml;hen, oder Sie</span></p>

<p><span style="font-size: 14px;">geben in das Nummernfeld die gew&uuml;nschte Gr&ouml;&szlig;e direkt ein. Um das Array &uuml;berschaubar zu halten,</span></p>

<p><span style="font-size: 14px;">akzeptiert das Nummernfeld des Spinners eine minimale Gr&ouml;&szlig;e von 5 bis zur maximalen Gr&ouml;&szlig;e von 19</span></p>

<p><span style="font-size: 14px;">des Arrays. Andere Gr&ouml;&szlig;en werden nicht akzeptiert. (Standard: Arraygr&ouml;&szlig;e 11)</span></p>

<p>&nbsp;</p>

<p><span style="font-size: 14px;">Eine geeignete <strong>Konstante &#39;c&#39;</strong>&nbsp; k&ouml;nnen Sie nur bei dem Verallgemeinerten Linearen Sondieren w&auml;hlen,</span></p>

<p><span style="font-size: 14px;">ansonsten ist dieser Bereich inaktiv.</span></p>

<p><span style="font-size: 14px;">Das zu w&auml;hlende &#39;c&#39; h&auml;ngt von der Arrayl&auml;nge ab, welches Sie vorher w&auml;hlen.</span></p>

<p><span style="font-size: 14px;">Die vorgeschlagen Konstanten, haben keinen gemeinsamen Teiler mit der Arraygr&ouml;&szlig;e um Schleifen zu</span></p>

<p><span style="font-size: 14px;">vermeiden.</span></p>

<p>&nbsp;</p>

<p><span style="font-size: 14px;">Ist das Verfahren und die Gr&ouml;&szlig;e des Arrays gew&auml;hlt, k&ouml;nnen Sie mit dem <strong>&#39;Start&#39; Button</strong> das Aktionsfeld</span></p>

<p><span style="font-size: 14px;">aktivieren. Der Start-Button und alle anderen Elemente in dem Auswahl-Feld sind zu jederzeit aktiv,</span></p>

<p><span style="font-size: 14px;">falls sie &Auml;nderungen, Anpassungen oder gar ein anderes Sondierverfahren ausw&auml;hlen und starten m&ouml;chten.</span></p>

<p>&nbsp;</p>

<p><span style="font-size: 14px;">Der <strong>&#39;Pseudo-Code&#39; Button</strong> &ouml;ffnet ein gesondertes Fenster, welches das ausgew&auml;hlte Verfahren in</span></p>

<p><span style="font-size: 14px;">einem Java-Pseudo-Code wiederspiegelt.</span></p>

<p><span style="font-size: 14px;">Das Pseudo-Code Fenster enth&auml;lt lediglich drei Methoden des jeweiligen Verfahrens. Diese wiederum</span></p>

<p><span style="font-size: 14px;">sind Zeilenweise Kommentiert, um die Arbeitsweise des Verfahrens bestm&ouml;glich verfolgen zu k&ouml;nnen.</span></p>

<p><span style="font-size: 14px;">Zus&auml;tzlich finden Sie eine Info&nbsp;mit&nbsp;kleinen&nbsp;Besonderheiten zum jeweiligen verfahren.</span></p>

<p>&nbsp;</p>

<p><span style="font-size: 14px;">Mit dem&nbsp;<strong>&#39;Log laden&#39; Button </strong>k&ouml;nnen Sie fr&uuml;here abgespeicherten Logs wieder herstellen und</span></p>

<p><span style="font-size: 14px;">animieren lassen. Wenn Sie eine Log-Datei laden, ist es dennoch wichtig das Verfahren und die</span></p>

<p><span style="font-size: 14px;">Arraygr&ouml;&szlig;e zu w&auml;hlen. Die Log-Datei kann in jedem beliebigen Sondierverfahren gew&auml;hlt werden,</span></p>

<p><span style="font-size: 14px;">da Sie nicht auf ein Bestimmtes vorher gew&auml;hltes Verfahren zugeschnitten wird.</span></p>

<p>&nbsp;</p>

<h2><span style="font-size: 16px;">Das &#39;Actions&#39;-Feld</span></h2>

<p>&nbsp;</p>

<p><span style="font-size: 14px;">Im Grunde l&auml;sst Sich dieses Feld in 3 Bereiche einteilen.</span></p>

<p><span style="font-size: 14px;">1) In dem oberen Bereich finden Sie das<strong> &#39;Animations&#39; Feld</strong>, welches das Arrayfeld mit der gew&auml;hlten</span></p>

<p><span style="font-size: 14px;">&nbsp;&nbsp;&nbsp; Gr&ouml;&szlig;e darstellt und in der alle Animationen stattfinden.</span></p>

<p>&nbsp;</p>

<p><span style="font-size: 14px;">2) Im mittleren Bereich befindet sich das <strong>&#39;Kontroll&#39; Feld</strong>. Hier k&ouml;nnen Sie den Ablauf mit verschieden</span></p>

<p><span style="font-size: 14px;">&nbsp;&nbsp;&nbsp; Buttons steuern.</span></p>

<p><span style="font-size: 14px;"><span style="color: rgb(255, 0, 0);"><strong>Der &#39;Zur&uuml;ck&#39; Button, l&auml;sst die Animation Schritt f&uuml;r Schritt r&uuml;ckw&auml;rts laufen </strong></span></span></p>

<p><span style="font-size: 14px;"><span style="color: rgb(255, 0, 0);"><strong>&nbsp;&nbsp;&nbsp; und stellt die vorherigen schritte wieder her.</strong></span></span></p>

<p><span style="font-size: 14px;">Der <strong>&#39;Play/Stop&#39; Button </strong>l&auml;sst die Animation stoppen und wieder weiterlaufen.&nbsp;(Standard: &#39;Play&#39; Zustand)</span></p>

<p><span style="font-size: 14px;">&nbsp;&nbsp;&nbsp; Hinweis ! Sobald eine Zahl hinzugef&uuml;gt wurde startet die Animation und l&auml;uft schrittweise automatisch ab.</span></p>

<p><span style="font-size: 14px;">Der <strong>&#39;Vorw&auml;rts&#39; Button </strong>l&auml;sst die Animation nach Schritt f&uuml;r Schritt vorw&auml;rtslaufen. Dieser ist erst aktiv</span></p>

<p><span style="font-size: 14px;">&nbsp;&nbsp;&nbsp; wenn zuvor einmal der Stop-Button gedr&uuml;ckt wurde.</span></p>

<p><span style="font-size: 14px;">Der <strong>&#39;Geschwindigkeitsregler&#39;</strong> l&auml;sst sich auch w&auml;hrend der Animation bedienen um eine gew&uuml;nschte</span></p>

<p><span style="font-size: 14px;">&nbsp;&nbsp; Animationsgeschwindigkeit zu erzeugen.</span></p>

<p><span style="font-size: 14px;">Das <strong>&#39;Eingabe&#39; Feld </strong>akzeptiert nur Zahlen zwischen 1 und 99, welche in der angestrebten Animation</span></p>

<p><span style="font-size: 14px;">&nbsp;&nbsp;&nbsp; dargestellt werden sollen.</span></p>

<p><span style="font-size: 14px;">Der <strong>&#39;hinzuf&uuml;gen&#39; </strong>Button leitet die vorhergew&auml;hlte Eingabe in das Array und l&auml;sst die Animation</span></p>

<p><span style="font-size: 14px;">&nbsp;&nbsp;&nbsp; beginnen.</span></p>

<p><span style="font-size: 14px;">Der<strong> </strong><strong>&#39;suchen&#39; Button </strong>l&auml;sst die vorhergew&auml;hlte Eingabe im Array suchen.</span></p>

<p><span style="font-size: 14px;">Der<strong> &#39;l&ouml;schen&#39; Button </strong>l&auml;sst die vorhergew&auml;hlte Eingabe im Array l&ouml;schen.</span></p>

<p>&nbsp;</p>

<p><span style="font-size: 14px;">3) Im unteren Bereich finden Sie das <strong>&#39;Log&#39; Feld</strong>. Dieser Kommentiert jeden einzelnen Schritt der</span></p>

<p><span style="font-size: 14px;">&nbsp;&nbsp;&nbsp; Animation und liefert eine Erkl&auml;rung wie z.B.&nbsp;die&nbsp;Eingabe auf ein bestimmtes Feld gelangt.</span></p>

<p>&nbsp;</p>

<p><span style="font-size: 14px;">Mit dem&nbsp;<strong>&#39;Log speichern&#39; Button&nbsp;</strong>k&ouml;nnen Sie, die zuvor erstellte Animationsfolge in einem Log speichern.</span></p>

<p><span style="font-size: 14px;">&nbsp;</span></p>

<h2><span style="font-size: 16px;">Die Legende</span></h2>

<p>&nbsp;</p>

<p><span style="font-size: 14px;">Die Legende dient als Hilfestellung der zu animierenden Elemente.</span></p>

<p><span style="color: rgb(0, 128, 0);"><span style="font-size: 14px;"><span style="font-size: 16px;">&nbsp;&nbsp;&nbsp; &#39;Gr&uuml;n&#39;</span>&nbsp;&nbsp;&nbsp; </span></span><span style="font-size: 14px;">das Einf&uuml;gen der Eingabe im Array ist m&ouml;glich.</span></p>

<p><span style="font-size: 14px;"><span style="color: rgb(255, 0, 0);">&nbsp;&nbsp;&nbsp; &#39;Rot&#39;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</span>das Einf&uuml;gen der Eingabe ist nicht m&ouml;glich, es tritt eine Kollision auf.</span></p>

<p><span style="font-size: 14px;"><span style="color: rgb(0, 0, 255);">&nbsp;&nbsp;&nbsp; &#39;Blau&#39;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>die Eingabe wurde gefunden.</span></p>

<p><span style="font-size: 14px;"><span style="color: rgb(255, 160, 122);">&nbsp;&nbsp;&nbsp; &#39;Orange&#39; </span>die zu suchende&nbsp;Eingabe befindet sich nicht in jeweiligen Feld.</span></p>

<p><span style="font-size: 14px;"><span style="color: rgb(255, 215, 0);">&nbsp;&nbsp;&nbsp; &#39;Gelb&#39;&nbsp;&nbsp;&nbsp;&nbsp; </span>die Eingabe wurde gel&ouml;scht und das Feld &#39;gelb&#39; markiert</span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
</body>
</html>
